.container {
	.icon {
		float: left;
		margin: 10px;
		&:hover {
			cursor: pointer;
		}
	}
}

#capital-a {
	font-size: 48px;
	margin-top: -4px;
	color: rgba(50, 50, 50, .5);
}

.triangle {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 36px solid rgba(153, 153, 204, 0.5);
}

.circle {
	width: 40px;
	height: 40px;
	background: rgba(255, 51, 51, 0.5);
	border-radius: 50px;
}

.square {
	width: 40px;
	height: 40px;
	background: rgba(51, 204, 51, 0.5);
}

.icon {
	float: right;
	margin-top: 16px;
}

.my-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	p, h4, h5, h6 {
		text-align: left;
	}
}

.card {
	background: rgba(255,255,255,0.9);
	border: 1px solid #777;
	border-radius: 5px;
	box-shadow: 3px 3px 4px #aaa;
	height: 180px;
	margin: 20px;
	padding: 0 20px 10px 20px;
	width: 260px;


	h4 {
		width: 80%;
	}

	&:hover {
		cursor: pointer;
		-ms-transform: scale(1.02, 1.02	); /* IE 9 */
    -webkit-transform: scale(1.02, 1.02	); /* Chrome, Safari, Opera */
    transform: scale(1.02, 1.02	);
	}
}

.collapsed {
	background: rgba(255,255,255,0);
	border: 1px solid #777;
	border-radius: 5px;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 3px 3px 4px #aaa;
	height: 40px;
	margin: -32px 20px 20px 20px;
	padding: 10px;
	width: 260px;
	border-right: none;

	&:hover {
		cursor: pointer;
		box-shadow: 0px 3px 4px #aaa;
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);

	}
}

.inline {
	display: inline-block;
	vertical-align: top;
}

#map {
	height: 360px;
}

/****** MEDIA QUERY ******/

@media (min-width: 650px) {
	.my-container {
		max-width: 900px;
	}
}

/****** ANIMATION ******/

.collapsed {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.card {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.animate-repeat.ng-enter {
  -webkit-transition: all linear .2s;
  transition: all linear .2s; 
}

.animate-repeat.ng-enter {
  opacity: 0; 
}

.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1; 
}