body {
	background-color: #ADF0FF !important;	
}

img {
	float: right;
	margin: 5px;
	max-width: 50%;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888;
}

li {
	list-style-type: none;
}

.portrait {
	float: left;
}

.box {
	margin-bottom: 20px;
	padding: 30px 15px;
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
	box-shadow: 1px 1px 1px;
	max-width: 98%;
}

.search-box {
	max-width: 200px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear .5s;
  transition:all linear .5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}