body {
	background-color: #ADF0FF !important;	
}

img {
	float: right;
	margin: 5px;
	max-width: 50%;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888;
}

li {
	list-style-type: none;
}

.portrait {
	float: left;
}

.box {
	margin-bottom: 20px;
	padding: 30px 15px;
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
	box-shadow: 1px 1px 1px;
	max-width: 98%;
}

.search-box {
	max-width: 200px;
}